
  <h1 class="text-center">My Game Library</h1>
  <div class="row mt-3">
    <% @orders.each do |order| %>
      <div class="col-md-2">
        <div class="card card-category mb-2">
          <div class="mb-2">
            <%= cl_image_tag order.game.image.key, class: "card-img-top" %>
          </div>
          <div class="" style="height: 50px;">
            <h5 class="card-title text-center">
              <%= link_to order.game.name, order_path(order), class: "text-decoration-none" %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
