<footer class="bg-black text-center text-white">
  <!-- Grid container -->
  <div class="container pb-3">
    <!-- Section: Social media -->
    <section class="mt-2">
    <!-- Rafa -->
      <a
        title="Rafael"
        target="_blank"
        class="btn text-white btn-floating m-1 social-icon"
        style="background-color: #ff3b4e;"
        href="https://github.com/rafteodoro"
        role="button"
        ><i class="fa-brands fa-github"></i
      ></a>

      <!-- lu -->
      <a
        title="Lu"
        target="_blank"
        class="btn text-white btn-floating m-1 social-icon"
        style="background-color: #E900FF;"
        href="https://github.com/darkwings28"
        role="button"
        ><i class="fa-brands fa-github"></i
      ></a>

      <!-- kaique -->
      <a
        title="Kaique"
        target="_blank"
        class="btn text-white btn-floating m-1 social-icon"
        style="background-color: #5800ff;"
        href="https://github.com/nagato94"
        role="button"
        ><i class="fa-brands fa-github"></i
      ></a>
      <!-- alyson -->
      <a
        title="Alyson"
        target="_blank"
        class="btn text-white btn-floating m-1 social-icon"
        style="background-color: #ffc600;"
        href="https://github.com/AlysonPereira"
        role="button"
        ><i class="fa-brands fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

  </div>
<p class="text-white-50 mt-1">&copy;2023 GamesKaar | All Rights Reserved</p>
  <!-- Copyright -->

  <!-- Copyright -->
</footer>
