<div class="container mt-5">
  <h1 class="text-center">Games Bought</h1>
  <div class="row mt-3">
    <% @orders.each do |order| %>
      <div class="col-md-4 mb-4">
        <div class="card-category card">
            <%= cl_image_tag order.game.image.key, class: "card-img-top" %>
        </div>
        <div class="card-body">
            <p class="text-center mt-2"><%= link_to order.game.name, order_path(order), class: "text-decoration-none" %></p>
            <p class="text-center">$ <%= order.game.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
