<div class="container mt-5">
  <%= render "orders/shared/bought" %>
  <hr>
  <div class="row mt-3">
    <div class="col-md-6" style="border-right: solid;">
      <%= render "orders/shared/listed" %>
    </div>

    <div class="col-md-6">
      <%= render "orders/shared/sold" %>
    </div>
  </div>
</div>
