<div class="banner">

</div>

<h1 class="text-center">FEATURED GAMES</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game Title</h5>
          <p class="card-text">Game Description</p>
          <a href="#" class="btn btn-primary">View Game</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game Title</h5>
          <p class="card-text">Game Description</p>
          <a href="#" class="btn btn-primary">View Game</a>
        </div>
      </div>
    </div>
  </div>

</div>
