<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banners/banner-1.png" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banners/banner-2.png" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banners/banner-3.png" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banners/banner-4.png" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 class="text-center">FEATURED GAMES</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game Title</h5>
          <p class="card-text">Game Description</p>
          <a href="#" class="btn btn-primary">View Game</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game Title</h5>
          <p class="card-text">Game Description</p>
          <a href="#" class="btn btn-primary">View Game</a>
        </div>
      </div>
    </div>
  </div>

</div>
