// botao de search
.btn-search {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #414141;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-search:hover {
  border-color: #E900FF;
  box-shadow: 0 0 20px #E900FF;
}

.btn-search:active {
  box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
}


//botao login

.btn-login {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #414141;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-login:hover {
  border-color: #E900FF;
  box-shadow: 0 0 20px #E900FF;
  color: #E900FF;
}

.btn-login:active {
  box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
}


// botao de new listing
.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #000;
  background: #E900FF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

// Back button

.back {
  background-image: url("../../images/download.png");
}
