.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
}

.scroll-to-top.show {
  display: block;
  opacity: 1;
}

.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}
