.bot-outline {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #414141;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);

  &:hover {
    border-color: #E900FF;
    box-shadow: 0 0 20px #E900FF;
    color: #E900FF;
  }

  &:active {
    box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
  }
}

.bot-purple {
  background-color: #5800FF;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
  border: 2px solid purple;
}

.bot-red {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px 5px;
  text-decoration: none;
  border: 2px solid red;
}

.bot-yellow-edit {
  background-color: #FFC600;
  color: #000;
  border-radius: 10px;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 14px;
  outline: none;
  border: 2px solid yellow;
}

.bot-yellow {
  background-color: #FFC600;
  color: #000;
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
  border: 2px solid yellow;
}

// botao de new listing
.bn5 {
  font-size: 12px;
  padding: 12px 12px;
  border: 2px solid purple;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

}

.bn5:active {
  scale: 0.92;
}

.bn5:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(232, 31, 142, 0.873) 60%);
  color: black;
  border-color: #E900FF;
  box-shadow: 0 0 20px #E900FF;
  transform: scale(1.05);
}


.yellow:hover {
  border: 2px solid yellow ;
  box-shadow: 0 0 10px yellow ;
  transition: .1s ease-in-out;
}

.red:hover {
  border: 2px solid red ;
  box-shadow: 0 0 10px red ;
  transition: .1s ease-in-out;
}

// Back button
