.navbar-lewagon {
  justify-content: space-between;
  background: #5800FF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-font{
  font-family : 'Prompt';
  font-size: 34px;
  color: #FFC600;
}
