.navbar-lewagon {
  justify-content: space-between;
  background: #242323;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.logo-font{
  font-family: 'Mario';
  font-style: normal;
  font-weight: 500;
  color: #EA3D4E;
}
.listing{
  color: #9b9b9b;
  &:hover{
    color: $success;
    transition: .3s ease-in-out;
    }
}
